header{
    background-color: #fff;
    position: sticky;
    top: 0;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    z-index: 10;
}
section.head{
    display: flex;
    justify-content: space-between;
    margin: 1rem;
    box-sizing: border-box;
}
#side-control{
    position: absolute;
    top: 1.5rem;
    left: 1.5rem;
    opacity: 0;
    display: block;
    width: 4rem;
    height: 2rem;
    z-index: 10;
}
section.head .menu{
    color: #518432;
    font-size: 1.5rem;
    position: relative;
    top: 0;
    left: 1rem;
    display: flex;
    align-items: center;
}
section.head .logo img{
    width: 10rem;
}
section.head .side{
    color: #518432;
    align-self: center;
    padding: 0 1rem;
}

a{
    text-decoration: none;
    color: inherit;
}

.side-menu{
    width: 55vh;
    height: 100vh;
    background-color: whitesmoke;
    position: absolute;
    transition: .5s;
    left: -100rem;
    margin-top: -1rem;
}
.side-menu form.title{
    display: flex;
}
.title .top-menu,.title .profile{
    width: 50%;
    line-height: 4;
    text-align: center;
    font-size: 1rem;
}
.title .top-menu{
    color: white;
    background-color: black;
}
.title .profile{
    color: black;
    background-color: white;
}
.title .profile i{
    font-size: 1em;
    margin: 0 .1rem 0 0;
}

.side-menu .title.list{
    display: flex;
    flex-direction: column;
    line-height: 4;
}
.title.list a{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
}
.title.list span{
    font-size: 1rem;
}
.title.list .tag-on{
    position: relative;
}
.title.list .tag{
    position: absolute;
    top: -.8rem;
    right: 1.7rem;
    border-radius: 2em;
}
.title.list .tag span{
    color: whitesmoke;
    background-color: #48C8FD;
    font-size: 16px;
    padding: .1rem .9rem;
    border-radius: .1em;
}

.head .close{
    width: 100%;
    position: absolute;
    bottom: 0;
    border: none;
    border-radius: .5em .5em 0 0;
    outline: none;
    background-color: #518432;
    cursor: pointer;
}
.head .close span{
    color: aliceblue;
    line-height: 2;
    font-size: 1.5rem;
}

.menu-btn{
    display: block;
    width: 2rem;
    height: 2rem;
    position: absolute;
    top: 1.5rem;
    left: 3.5rem;
}
.menu-btn::before{
    content: '';
    position: absolute;
    height: .1rem;
    width: 1.4rem;
    left: -1rem;
    top: -1rem;
    bottom: 0;
    margin: auto;
    background-color: #fff;
    box-shadow: 0 .5rem 0 #fff, 0 -.5rem 0 #fff;
}
#side-control:checked ~ section.head .side-menu{
        position: absolute;
        left: 0;
}
#side-control:checked ~ section.head .menu{
        opacity: 0;
        transition: .5s;
}

section.main-title{
    background-image: url(https://cdn.shopify.com/s/files/1/0356/8343/4555/files/bg-slide10.jpg?v=15853037288);
    padding: 2rem 0;
    height: 50rem;
}
.main-container{
    height: 30rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10rem;
}
section.main-title img{
    width: 50rem;
    position: absolute;
    opacity: .7;
}
section.main-title .main-content{
    display: flex;
    flex-direction: column;
    position: absolute;
}
section.main-title h1{
    font-size: 7rem;
    line-height: 1.5;
}
section.main-title span{
    font-size: 2rem;
    line-height: 2;
}
section.main-title button{
    outline: none;
    border: none;
    display: block;
    width: 15rem;
    line-height: 4;
    background-color: black;
    color: white;
    cursor: pointer;
}
.main-title button:hover{
    background-color: #48C8FD;
    transition: .5s;
}

section.introduce{
    text-align: center;
    margin: 10rem;
}
section.introduce h2{
    font-size: 4rem;
    text-align: center;
    color: #518432;
    font-weight: bold;
    margin: 6rem 0;
}
section.introduce h3{
    font-size: 2rem;
    font-weight: bold;
    line-height: 2;
}
section.introduce p{
    color: #9C9C9C;
    font-size: 1.5rem;
    line-height: 1.5;
}
.introduce img{
    width: 50rem;
}

section.plant-item{
    text-align: center;
}
section.plant-item h2{
    font-size: 4rem;
    color: #518432;
    font-weight: bold;
    text-align: center;
}
section.plant-item .items{
    display: flex;
    flex-wrap: wrap;
}
section.plant-item .items .item{
    width: calc(100% / 3 - 2rem);
    margin: 1rem;
    padding-bottom: 4rem;
}
section.plant-item .items .item img{
    width: 100%;
}
section.plant-item .items .item h3{
    font-size: 3rem;
    font-weight: bold;
    line-height: 2;

    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}
section.plant-item .items .item h3:hover{
    color: #518432;
}
section.plant-item .items .item span{
    font-size: 3rem;
    font-weight: bold;
}
section.plant-item .items .item span#s{
    font-size: 2rem;
}

section.recommend{
    background-image: url(https://cdn.shopify.com/s/files/1/0356/8343/4555/files/bg-video1.jpg?v=1585532362);
    height: 50rem;
}
.recommend iframe{
    aspect-ratio: 560/315;
    position: relative;
    top: 0;
    left: 20rem;
    z-index: 4;
    opacity: 0.1;
}
.recommend img{
    position: absolute;
    left: 20rem;
    width: 560px;
    height: 315px;
}
section.recommend h3{
    font-size: 3rem;
    font-weight: bold;
    color: #518432;
    padding-top: 10rem;
    text-align: left;
    padding-left: 10rem;
}
section.recommend p{
    font-size: 2rem;
    text-align: left;
    padding-left: 10rem;
    margin: 2rem 0 5rem;
}

section.instagram{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 8rem;
    padding: 10rem;
}
section.instagram span{
    font-size: 5rem;
    line-height: 1.5;
}

section.photo{
    display: flex;
    flex-wrap: wrap;
    padding: 4rem 0;
}
section.photo img{
    padding: 2rem;
    width: calc(100% / 3 - 4rem);
}

footer.foot{
    text-align: center;
    background-color: #f4f4f4;
    padding: 2rem;
}
footer.foot a img{
    width: 20rem;
}
footer.foot .txt{
    display: flex;
    justify-content: center;
}
.foot .txt li{
    font-size: 2rem;
    padding: 0 3rem;
    line-height: 4;
}
.foot .icon a{
    display: inline-block;
    width: 5rem;
    height: 5rem;
    background-color: black;
    border-radius: 100%;
    overflow: hidden;
    margin: 0 1rem;
}
.foot .icon a:hover{
    background-color: #518432;
    transition: .5s;
}
.foot .icon i{
    font-size: 2rem;
    color: aliceblue;
    margin-top: 1.5rem;
}
footer.foot span{
    font-size: 1.5rem;
    line-height: 5;
    color: #9C9C9C;
}