<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Calendar</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.1.4/toastr.min.css" />
  <script src="https://kit.fontawesome.com/0304c19c0c.js" crossorigin="anonymous"></script>
  <script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>
  <style>
    .overflow-auto::-webkit-scrollbar {
      width: 0.5em;
    }
  </style>
</head>
<body>
  <article id="app" class="container mt-1">
    <section class="d-flex align-items-center py-3 ps-3 pe-lg-3">
      <h2 class="fa-solid me-auto">{{months[month]}}<span class="fa-solid fs-4 ps-2">{{year}}</span></h2>
      <button @click="lastMonth" class="btn border-0"><i class="fa-solid fa-angle-left"></i></button>
      <button @click="todayToastr" type="button"
        class="btn bg-secondary-subtle badge border-0 rounded-pill shadow-sm"><i
          class="fa-solid fa-calendar-days"></i></button>
      <button @click="nextMonth" class="btn border-0"><i class="fa-solid fa-angle-right"></i></button>
    </section>

    <table class="table text-center table-hover table-group-divider">
      <thead>
        <tr>
          <th v-for="week in weeks" class="p-2">{{week}}</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="week in totalWeeks">
          <td v-for="day in 7">
            <button id="day"
              class="btn badge btn-outline-light text-dark rounded-circle border-0 border-dark-subtle position-relative p-2"
              style="width: 2.5em;aspect-ratio: 1/1;"
              :class="{'bg-secondary-subtle text-danger':isToday(getDayOfMonth(week,day))}"
              v-if="getDayOfMonth(week,day)!=''" @click="choose">{{getDayOfMonth(week,day)}}
              <small
                class="position-absolute top-0 start-100 translate-middle mt-2 bg-danger border border-light rounded-pill badge ms-1"
                style="pointer-events:none">{{eventLength(getDayOfMonth(week,day))}}</small>
            </button>
          </td>
        </tr>
      </tbody>
    </table>

    <section class="d-flex">
      <button class="btn badge bg-primary-subtle text-light border-0 shadow p-1 px-3 ms-auto opacity-0"
        data-bs-toggle="modal" data-bs-target="#Modal" @click="addToDo = true" :class="{'opacity-100':addToDo}"><i
          class="fa-solid fa-plus"></i></button>
      <!-- Modal -->
      <div class="modal fade" id="Modal" data-bs-backdrop="static">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header border-0">
              <h1 class="modal-title fs-5">{{key}}</h1>
              <button type="button" class="btn btn-close shadow-none" data-bs-dismiss="modal" v-if="isEmpty"></button>
            </div>
            <div class="modal-body">
              <input type="text" class="col-12 rounded-pill px-3 border-light-subtle" v-model="input"
                @keypress.enter="setItemS" v-if="addToDo">
              <input type="text" class="col-12 rounded-pill px-3 border-light-subtle" v-model="input"
                @keypress.enter="updateItem2" v-else>
            </div>
            <div class="modal-footer border-0">
              <button @click="setItemS" class="btn badge bg-success-subtle border-0 p-2 px-3 ms-4"
                v-if="addToDo">ok</button>
              <button @click="updateItem2" class="btn badge bg-warning-subtle border-0 p-2 px-3 ms-4"
                v-else>edit</button>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="overflow-auto my-1 px-5 pt-5" style="height: 11rem">
      <h3 class="text-center opacity-50 pt-5" v-if="isEmpty">No hay eventos</h3>
      <div class="d-flex align-items-center" v-else v-for="item in items">
        <i class="fa-solid fa-check text-success"></i>
        <span class="fa-solid text-truncate px-3 py-2">{{item}}</span>
        <i class="fa-solid fa-pen btn border-0 btn-outline-light text-primary-emphasis ms-auto p-1"
          data-bs-toggle="modal" data-bs-target="#Modal" @click="updateItem1"></i>
        <i class="fa-solid fa-xmark btn border-0 btn-outline-light text-danger ms-4 p-1" @click="removeItemS"></i>
      </div>
    </section>
  </article>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.1.4/toastr.min.js"></script>
  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>

  <script>
    const { createApp } = Vue
    createApp({
      data() {
        return {
          year: '',
          month: '',
          months: ['January', 'Febrary', 'March', 'April', 'May', 'June', 'July', 'Auguest', 'September', 'October', 'November', 'December'],
          weeks: ['Sun', 'Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat'],
          firstDayOfWeek: '',
          daysInMonth: '',
          isEmpty: true,
          addToDo: false,
          modalDate: '',
          key: '',
          todoList: [],
          todoItem: '',
          items: [],
          input: '',
        }
      },
      mounted() {
        this.today()
      },
      computed: {
        // 當月幾周
        totalWeeks() {
          return Math.ceil((this.daysInMonth + this.firstDayOfWeek) / 7)
        }
      },
      methods: {
        monthInfo() {
          // 當月第一天星期幾
          this.firstDayOfWeek = new Date(this.year, this.month, 1).getDay()
          // 當月幾天
          this.daysInMonth = new Date(this.year, this.month + 1, 0).getDate()
          this.isEmpty = true
          this.resetUI()
        },
        today() {
          // 年份
          this.year = new Date().getFullYear()
          // 月份
          this.month = new Date().getMonth()
          this.key = `${new Date().getDate()}${this.months[this.month]}${this.year}`
          this.monthInfo()
          this.renderToDO()
        },
        todayToastr() {
          this.today()
          this.toastr()
          toastr.warning(new Date())
        },
        lastMonth() {
          this.month--
          if (this.month < 0) {
            this.year--
            this.month = 11
          }
          this.monthInfo()
        },
        nextMonth() {
          this.month++
          if (this.month > 11) {
            this.year++
            this.month = 0
          }
          this.monthInfo()
        },
        getDayOfMonth(week, day) {
          // 該周該天是幾號
          dayOfMonth = (week - 1) * 7 + day - this.firstDayOfWeek
          return dayOfMonth < 1 || dayOfMonth > this.daysInMonth ? '' : dayOfMonth
        },
        isToday(day) {
          today = new Date()
          return this.year === today.getFullYear() && this.month === today.getMonth() && day === today.getDate()
        },
        choose(e) {
          this.resetUI()
          e.target.classList.add('bg-body-tertiary', 'shadow-sm')
          this.addToDo = true
          this.modalDate = e.target.childNodes[0].nodeValue.trim()
          this.key = `${this.modalDate}${this.months[this.month]}${this.year}`
          this.renderToDO()
          this.toastr()
          toastr.info(this.modalDate, this.months[this.month])
        },
        resetUI() {
          document.querySelectorAll('#day').forEach(x => {
            x.classList.remove('bg-body-tertiary', 'shadow-sm')
          })
          this.addToDo = false
        },
        setItemS() {
          bootstrap.Modal.getOrCreateInstance(document.getElementById('Modal')).hide()

          if (!this.input) return
          this.todoItem = { value: this.input }
          this.input = ''

          this.todoList = localStorage.getItem(this.key) === null ? [this.todoItem] : [...JSON.parse(localStorage.getItem(this.key)), this.todoItem]

          localStorage.setItem(this.key, JSON.stringify(this.todoList))

          this.renderToDO()
          this.toastr()
          toastr.success('success')
        },
        removeItemS(e) {
          this.todoList = JSON.parse(localStorage.getItem(this.key))

          this.todoList.length > 1
            ? (this.todoList.splice(this.todoList.findIndex(x => x.value === `${e.target.parentNode.children[1].innerText}`), 1),
              localStorage.setItem(this.key, JSON.stringify(this.todoList)))
            : localStorage.removeItem(this.key)

          this.renderToDO()
          this.toastr()
          toastr.error('delete')
        },
        updateItem1(e) {
          this.todoList = JSON.parse(localStorage.getItem(this.key))
          this.todoList.length > 1
            ? (this.todoList.splice(this.todoList.findIndex(x => x.value === `${e.target.parentNode.children[1].innerText}`), 1),
              localStorage.setItem(this.key, JSON.stringify(this.todoList)))
            : localStorage.removeItem(this.key)
          this.addToDo = false
        },
        updateItem2(e) {
          bootstrap.Modal.getOrCreateInstance(document.getElementById('Modal')).hide()
          this.todoItem = { value: this.input }
          this.input = ''
          this.todoList = localStorage.getItem(this.key) === null ? [this.todoItem] : [...JSON.parse(localStorage.getItem(this.key)), this.todoItem]
          localStorage.setItem(this.key, JSON.stringify(this.todoList))

          this.renderToDO()
          this.toastr()
          toastr.warning('update')
          this.addToDo = true
        },
        renderToDO() {
          this.isEmpty = localStorage.getItem(this.key) !== null ? false : true
          this.items = this.isEmpty ? [] : JSON.parse(localStorage.getItem(this.key)).map(x => x.value).sort()
        },
        eventLength(day) {
          return localStorage.getItem(`${day}${this.months[this.month]}${this.year}`) !== null ? JSON.parse(localStorage.getItem(`${day}${this.months[this.month]}${this.year}`)).length : ''
        },
        toastr() {
          toastr.options = {
            positionClass: 'toast-top-center',
            preventDuplicates: true,
            closeButton: true,
            progressBar: true,
            timeOut: '888',
          }
        }
      }
    }).mount('#app')
  </script>
</body>
</html>