<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
  <script src="https://kit.fontawesome.com/0304c19c0c.js" crossorigin="anonymous"></script>
  <title>iPadAir</title>
  <style>
    .overflow-auto::-webkit-scrollbar {
      width: .5rem;
      background-color: transparent;
    }
  </style>
</head>
<body>
  <article class="container d-flex flex-wrap mt-5" id="app">
    <section class="col-12">
      <h1 class="fw-bolder display-5 mt-3">Buy iPad Air</h1>
      <small>NT$19,900 起</small>
    </section>

    <!-- carousel -->
    <section id="carouselControls" class="carousel slide col-lg-8 mt-5" data-bs-interval="false" data-bs-wrap="false"
      data-bs-touch="true">
      <div class="carousel-inner rounded-4">
        <div class="carousel-item active">
          <img
            src="https://store.storeimages.cdn-apple.com/8756/as-images.apple.com/is/ipad-air-finish-unselect-gallery-1-202207?wid=5120&hei=2880&fmt=p-jpg&qlt=95&.v=1654902977555"
            class="d-block w-100" alt="img-1">
        </div>
        <div class="carousel-item">
          <img
            src="https://store.storeimages.cdn-apple.com/8756/as-images.apple.com/is/ipad-air-finish-unselect-gallery-2-202207?wid=5120&hei=2880&fmt=p-jpg&qlt=95&.v=1654902978006"
            class="d-block w-100" alt="img-2">
        </div>
      </div>
      <button class="carousel-control-prev justify-content-start ms-3 d-none" type="button"
        data-bs-target="#carouselControls" data-bs-slide="prev" onclick="buttonDisplay()">
        <span class="d-flex justify-content-center align-items-center bg-dark-subtle rounded-circle" aria-hidden="true"
          style="width: 50px; aspect-ratio: 1/1;"><i class="fa-solid fa-angle-left fs-2 text-dark-emphasis"></i></span>
      </button>
      <button class="carousel-control-next justify-content-end me-3" type="button" data-bs-target="#carouselControls"
        data-bs-slide="next" onclick="buttonDisplay()">
        <span class="d-flex justify-content-center align-items-center bg-dark-subtle rounded-circle" aria-hidden="true"
          style="width: 50px; aspect-ratio: 1/1;"><i class="fa-solid fa-angle-right fs-2 text-dark-emphasis"></i></span>
      </button>
    </section>

    <section class="col-lg-4 p-5 mt-5 overflow-auto" style="height: 30rem;">
      <h2 class="d-inline-block fs-4">{{titles[0].main}}</h2><span class="fs-4 text-secondary">{{titles[0].sub}}</span>
      <div class="d-flex flex-wrap my-3 gap-4 mb-5">
        <button v-for="image in colorImgs" @click.stop="choose"
          class="col-5 btn border border-2 text-center p-3 rounded-3" id="colorSelect">
          <img :src="image.src" :alt="image.alt" style="width: 2rem; pointer-events: none; user-select: none;">
          <small class="d-block text-dark mt-2"
            style="pointer-events: none; user-select: none; font-size: 10px">{{image.color}}</small>
        </button>
      </div>

      <h2 class="d-inline-block fs-4">{{titles[1].main}}</h2><span class="fs-4 text-secondary">{{titles[1].sub}}</span>
      <div class="d-flex flex-wrap my-3 gap-4 mb-5">
        <button v-for="storage in storages" @click.stop="choose"
          class="col-5 btn border border-2 text-center p-3 rounded-3" id="storageSelect" disabled>
          <small class="d-block text-dark mt-2" style="pointer-events: none; user-select: none;">{{storage}}</small>
        </button>
      </div>

      <h2 class="d-inline-block fs-4">{{titles[2].main}}</h2><span class="fs-4 text-secondary">{{titles[2].sub}}</span>
      <div class="d-flex flex-wrap my-3 gap-4 mb-5">
        <button v-for="network in networks" @click.stop="choose"
          class="col-5 btn border border-2 text-center p-3 rounded-3" id="networkSelect" disabled>
          <small class="d-block text-dark mt-2" style="pointer-events: none; user-select: none;">{{network}}</small>
        </button>
      </div>

      <div>
        <h3 class="border-bottom pb-3 mb-3">NT$<span id="price">0</span><small class="text-muted fw-light d-block my-2"
            style="font-size: 6px;">含營業稅和其他法定稅費</small></h3>
        <span id="show" class="fw-semibold"></span>
      </div>
    </section>
  </article>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
    crossorigin="anonymous"></script>
  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>

  <script>
    const { createApp } = Vue

    createApp({
      data() {
        return {
          titles: [
            { main: 'Finish.', sub: 'Pick your favorite color.' },
            { main: 'Storage.', sub: 'Choose how much space you’ll need.' },
            { main: 'Connectivity.', sub: 'Choose how you’ll stay connected.' },
          ],
          colorImgs: [
            { color: '太空灰色', src: 'https://store.storeimages.cdn-apple.com/8756/as-images.apple.com/is/ipad-air-finish-space-gray-2022?wid=208&amp;hei=208&amp;fmt=png-alpha&amp;.v=1668014174971', alt: 'gray' },
            { color: '藍色', src: 'https://store.storeimages.cdn-apple.com/8756/as-images.apple.com/is/ipad-air-finish-blue-2022?wid=208&amp;hei=208&amp;fmt=png-alpha&amp;.v=1668014174784', alt: 'blue' },
            { color: '粉紅色', src: 'https://store.storeimages.cdn-apple.com/8756/as-images.apple.com/is/ipad-air-finish-pink-2022?wid=208&amp;hei=208&amp;fmt=png-alpha&amp;.v=1668014174903', alt: 'pink' },
            { color: '紫色', src: 'https://store.storeimages.cdn-apple.com/8756/as-images.apple.com/is/ipad-air-finish-purple-2022?wid=208&amp;hei=208&amp;fmt=png-alpha&amp;.v=1668014175042', alt: 'purple' },
            { color: '星光色', src: 'https://store.storeimages.cdn-apple.com/8756/as-images.apple.com/is/ipad-air-finish-starlight-2022?wid=204&amp;hei=204&amp;fmt=png-alpha&amp;.v=1669672818453', alt: 'starlight' },
          ],
          storages: ['64GB', '256GB'],
          networks: ['Wi-Fi', 'Wi-Fi + Cellular']
        };
      },
      methods: {
        choose(e) {
          document.querySelectorAll('#colorSelect').forEach(btn => {
            if (e.target.id == 'colorSelect')
              btn.classList.remove('border-primary')
            e.target.classList.add('border-primary')
          })
          document.querySelectorAll('#storageSelect').forEach(btn => {
            btn.disabled = false
            if (e.target.id == 'storageSelect')
              btn.classList.remove('border-primary')
            e.target.classList.add('border-primary')
          })
          document.querySelectorAll('#networkSelect').forEach(btn => {
            btn.disabled = false
            if (e.target.id == 'networkSelect')
              btn.classList.remove('border-primary')
            e.target.classList.add('border-primary')
          })

          document.querySelector('[alt="img-1"]').src = `./image/${xhr.response.filter(x => x.color == `${document.querySelectorAll('.border-primary')[0].innerText}`).map(x => x.picture[0]).find(x => x)}`
          document.querySelector('[alt="img-2"]').src = `./image/${xhr.response.filter(x => x.color == `${document.querySelectorAll('.border-primary')[0].innerText}`).map(x => x.picture[1]).find(x => x)}`

          result = document.querySelectorAll('.border-primary')
          document.getElementById('price').innerText = `${xhr.response.filter(x => x.storage == result[1].innerText && x.network == result[2].innerText).map(x => x.price.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",")).find(x => x)}`
          document.getElementById('show').innerText = `10.9-inch iPad Air ${result[2].innerText} ${result[1].innerText} - ${result[0].innerText}`
        }
      },
    }).mount('#app')
  </script>
  <script>
    var xhr = new XMLHttpRequest()

    xhr.onload = function () {
      if (xhr.readyState === 4 && xhr.status === 200) {
        // success
        console.log(xhr.response)
      } else {
        // error
        console.log(`Error: response ${xhr.status} ,${xhr.statusText}`)
      }
    }

    xhr.open('get', './iPadAir.json')
    xhr.responseType = 'json'
    xhr.send()
  </script>
  <script>
    prev = document.querySelector('.carousel-control-prev')
    next = document.querySelector('.carousel-control-next')

    function buttonDisplay() {
      next.classList.toggle('d-none')
      prev.classList.toggle('d-none')
    }
  </script>
</body>
</html>