<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.1.4/toastr.min.css" rel="stylesheet" />
    <title>Error</title>
</head>
<body class="bg-dark overflow-hidden">
    <div id="app">
        <h1 class="display-1 fw-bold text-center text-light-emphasis opacity-50 mt-5"> 404 NOT FOUND</h1>
        <a href="#" v-for="img in ufoS" data-toggle="tooltip" title="按我帶你 go home ~~">
            <img src="https://cdn4.iconfinder.com/data/icons/seo-marketing-53/64/seo_404_error_page_web_missing_ufo-1024.png" :style="{ left: img.x, top: img.y, rotate: img.rotate }" :width="img.width" class="position-absolute" />
        </a>
        <img v-for="img in monsterS" :src="'https://cdn0.iconfinder.com/data/icons/monster-4-1/512/MonsterV3-'+img.src+'-1024.png'" :style="{ left: img.x, top: img.y, rotate: img.rotate }" :width="img.width" class="position-absolute opacity-75" data-toggle="tooltip" title="滾~ 不幫~"/>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.1.4/toastr.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>

    <script>
        const { createApp } = Vue
        createApp({
            data() {
                return {
                    ufoS: [],
                    monsterS: []
                }
            },
            mounted() {
                this.toastr()
                setInterval(this.addUfoS, 4040)
                setInterval(this.addMonsterS, 1111)
            },
            methods: {
                addUfoS() {
                    const a = {
                        x: Math.random() * 100 + '%',
                        y: Math.random() * 100 + '%',
                        rotate: Math.random() * 360 + 'deg',
                        width: Math.floor(Math.random() * (150 - 100 + 1)) + 100
                    }
                    this.ufoS.push(a)
                },
                addMonsterS() {
                    const m = {
                        x: Math.random() * 100 + '%',
                        y: Math.random() * 100 + '%',
                        rotate: Math.random() * 360 + 'deg',
                        width: Math.floor(Math.random() * (120 - 80 + 1)) + 80,
                        src: Math.floor(Math.random() * (100 - 76 + 1)) + 76
                    }
                    this.monsterS.push(m)
                },
                toastr() {
                    toastr.options = {
                        newestOnTop: true,
                        progressBar: true,
                        preventDuplicates: true,
                        positionClass: 'toast-top-right',
                        timeOut: '404404'
                    }
                    toastr['error']('請找到 404UFO 帶您逃離引力吸引', 'sorry 您進入了宇宙的黑洞')
                },
                tooltip() {
                    $(document).ready(function () {
                        $('[data-toggle="tooltip"]').tooltip()
                    })
                }
            }
        }).mount('#app')
    </script>
</body>
</html>